In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
model = tf.keras.models.load_model('model.keras')
df_s = pd.read_csv('data/submission.csv')
df = pd.read_csv('data/model_test.csv')

In [3]:
feature = ['mean_14_decay', 'max_14', 'sum_14',
       'mean_30_decay', 'max_30', 'sum_30', 'mean_60_decay', 'max_60',
       'sum_60', 'mean_91_decay', 'max_91', 'sum_91', 'mean_14_decay_2',
       'max_14_2', 'mean_30_decay_2', 'max_30_2', 'mean_60_decay_2',
       'max_60_2', 'mean_91_decay_2', 'max_91_2', 'has_sales_days_in_last_14',
       'last_has_sales_day_in_last_14', 'first_has_sales_day_in_last_14',
       'has_sales_days_in_last_30', 'last_has_sales_day_in_last_30',
       'first_has_sales_day_in_last_30', 'has_sales_days_in_last_60',
       'last_has_sales_day_in_last_60', 'first_has_sales_day_in_last_60',
       'has_sales_days_in_last_91', 'last_has_sales_day_in_last_91',
       'first_has_sales_day_in_last_91', 'goods_mean_21', 'goods_max_21',
       'goods_sum_21', 'goods_mean_49', 'goods_max_49', 'goods_sum_49',
       'goods_mean_84', 'goods_max_84', 'goods_sum_84', 'goods_mean_21_2',
       'goods_max_21_2', 'goods_sum_21_2', 'goods_mean_49_2', 'goods_max_49_2',
       'goods_sum_49_2', 'goods_mean_84_2', 'goods_max_84_2', 'goods_sum_84_2',
       'goods_has_sales_days_in_last_21',
       'goods_last_has_sales_day_in_last_21',
       'goods_first_has_sales_day_in_last_21',
       'goods_has_sales_days_in_last_49',
       'goods_last_has_sales_day_in_last_49',
       'goods_first_has_sales_day_in_last_49',
       'goods_has_sales_days_in_last_84',
       'goods_last_has_sales_day_in_last_84',
       'goods_first_has_sales_day_in_last_84']

In [5]:
# 先筛选有效数据再循环
merged = pd.merge(df_s, df, on='customer_id', how='left')
# 批量预测
merged[feature] = merged[feature].fillna(0)
batch_pred = model.predict(merged[feature])

49563/49563 ━━━━━━━━━━━━━━━━━━━━ 20s 393us/step

In [9]:
df_s['result'] = (batch_pred > 0.5).astype(int)
df_s.to_csv('sub22.csv',index=False)

In [8]:
df_s

         customer_id  result
0            1000000       0
1            1000014       0
2            1000034       0
3            1000046       0
4            1000048       0
...              ...     ...
1585981      2826570       0
1585982      2826571       0
1585983      2826572       0
1585984      2826573       0
1585985      2826574       0

[1585986 rows x 2 columns]