In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
model = tf.keras.models.load_model('model.keras')
df_s = pd.read_csv('data/submission.csv')
df = pd.read_csv('data/model_test.csv')

In [3]:
feature = ['mean_14_decay','max_60_2', 'mean_91_decay_2', 'max_91_2']

In [4]:
# for cid in df_s['customer_id']:
#     if cid not in df['customer_id']:
#         continue
#     tmp = df[df['customer_id']==cid]
#     xtest = tmp[feature]
#     # xtest = tf.data.Dataset.from_tensor_slices(xtest)
#     if len(xtest) == 0:  # 检查数据是否为空
#         df_s.loc[df_s['customer_id'] == cid,'result'] = 0
#         continue
#     ytest = model.predict(xtest,verbose = 0)
#     ytest = int(ytest[0]>0.5)
#     df_s.loc[df_s['customer_id'] == cid,'result'] = ytest
# df_s.to_csv('sub22.csv')

In [5]:
# 先筛选有效数据再循环
merged = pd.merge(df_s, df, on='customer_id', how='left')
# 批量预测
merged[feature] = merged[feature].fillna(0)
batch_pred = model.predict(merged[feature])

49563/49563 ━━━━━━━━━━━━━━━━━━━━ 19s 387us/step

In [8]:
batch_pred

array([[7.8066431e-02],
       [5.5550193e-24],
       [7.8066431e-02],
       ...,
       [7.8066431e-02],
       [7.8066431e-02],
       [5.6183166e-23]], dtype=float32)

In [6]:
df_s['result'] = (batch_pred > 0.5).astype(int)
df_s.to_csv('sub22.csv')

In [7]:
df_s

         customer_id  result
0            1000000       0
1            1000014       0
2            1000034       0
3            1000046       0
4            1000048       0
...              ...     ...
1585981      2826570       0
1585982      2826571       0
1585983      2826572       0
1585984      2826573       0
1585985      2826574       0

[1585986 rows x 2 columns]