In [5]:
import numpy as np
import pandas as pd
import datetime
import tensorflow as tf
from keras import layers
df = pd.read_csv('data/model_train.csv')
df.columns

Index(['Unnamed: 0', 'customer_id', 'mean_14_decay', 'max_14', 'sum_14',
       'mean_30_decay', 'max_30', 'sum_30', 'mean_60_decay', 'max_60',
       'sum_60', 'mean_91_decay', 'max_91', 'sum_91', 'mean_14_decay_2',
       'max_14_2', 'mean_30_decay_2', 'max_30_2', 'mean_60_decay_2',
       'max_60_2', 'mean_91_decay_2', 'max_91_2', 'has_sales_days_in_last_14',
       'last_has_sales_day_in_last_14', 'first_has_sales_day_in_last_14',
       'has_sales_days_in_last_30', 'last_has_sales_day_in_last_30',
       'first_has_sales_day_in_last_30', 'has_sales_days_in_last_60',
       'last_has_sales_day_in_last_60', 'first_has_sales_day_in_last_60',
       'has_sales_days_in_last_91', 'last_has_sales_day_in_last_91',
       'first_has_sales_day_in_last_91', 'goods_mean_21', 'goods_max_21',
       'goods_sum_21', 'goods_mean_49', 'goods_max_49', 'goods_sum_49',
       'goods_mean_84', 'goods_max_84', 'goods_sum_84', 'goods_mean_21_2',
       'goods_max_21_2', 'goods_sum_21_2', 'goods_mean_49_2', 'goods_max_49_2',
       'goods_sum_49_2', 'goods_mean_84_2', 'goods_max_84_2', 'goods_sum_84_2',
       'goods_has_sales_days_in_last_21',
       'goods_last_has_sales_day_in_last_21',
       'goods_first_has_sales_day_in_last_21',
       'goods_has_sales_days_in_last_49',
       'goods_last_has_sales_day_in_last_49',
       'goods_first_has_sales_day_in_last_49',
       'goods_has_sales_days_in_last_84',
       'goods_last_has_sales_day_in_last_84',
       'goods_first_has_sales_day_in_last_84', 'label'],
      dtype='object')

In [6]:
# 选取特征 数据归一和编码
feature = ['mean_14_decay','max_60_2', 'mean_91_decay_2', 'max_91_2','label']
df_data = df[feature]
df_data

         mean_14_decay  max_60_2  mean_91_decay_2  max_91_2  label
0             0.000000       0.0         0.000000       0.0    0.0
1             0.000000       0.0         0.000000       0.0    0.0
2             0.000000       0.0         0.000000       0.0    0.0
3             0.000000      39.9         7.393551      39.9    0.0
4             0.000000       0.0         0.000000       0.0    0.0
...                ...       ...              ...       ...    ...
5930451       0.000000       0.0         0.000000       0.0    1.0
5930452       0.000000       0.0         0.000000       0.0    0.0
5930453       0.000000       0.0         0.000000       0.0    0.0
5930454       0.000000       0.0         0.000000       0.0    0.0
5930455      15.659149      49.9        32.739390      49.9    0.0

[5930456 rows x 5 columns]

In [7]:
# 训练集 测试集的切割
from sklearn.model_selection import train_test_split
xtest, xtrain = train_test_split(df_data.sample(20000))
train = tf.data.Dataset.from_tensor_slices((xtrain.drop(columns = 'label'),xtrain['label']))
test = tf.data.Dataset.from_tensor_slices((xtest.drop(columns = 'label'),xtest['label']))

In [8]:
# 组网
nnmodel = tf.keras.Sequential([
    layers.InputLayer(shape = (4,)),
    layers.Dense(64,activation='relu'),
    layers.Dense(1,activation='sigmoid')
])
model =nnmodel
model.compile(
    optimizer = 'adam',
    loss = 'mse',
    metrics = ['accuracy']
)
h = model.fit(train.batch(1))

5000/5000 ━━━━━━━━━━━━━━━━━━━━ 3s 451us/step - accuracy: 0.9250 - loss: 0.0875

In [11]:
print(h.history)
result = model.evaluate(test.batch(1))
print(result)
model.save('model.keras')

{'accuracy': [0.9291999936103821], 'loss': [0.07046790421009064]}
15000/15000 ━━━━━━━━━━━━━━━━━━━━ 6s 394us/step - accuracy: 0.9266 - loss: 0.0675
[0.06584281474351883, 0.9286666512489319]

In [ ]:
# 输出提交结果